body{
    margin:0px;
}

header{
    display: flex;
    flex-direction: row;
    align-items: end;
    z-index:1;
    color:white;
    background-color: black;
    width: 100vw;
    position:fixed;
}

header h1{
    margin:20px;
}

.NavItem{
    margin: 10px;
    position: relative;
    left: 20px;
    top: -25px;
    color:white;
    text-decoration: none;
}

a{
    font-family:'Courier New', Courier, monospace;
}

.NavItem:hover{
    text-decoration: underline;
}


.feature {
    position:relative;
    background-size:cover;
    background-position:center;
    height:100vh;
  }

.feature a{
    color:white;
    text-decoration: none;
}

.feature a:hover{
    text-decoration: underline;
}

.horridFog{
    background-image:url(./Resources/horriblefog.jpg);
}

.feature2{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.randomImg{
    background-image:url(./Resources/cooltower.jpg);
}

.lushScenery{
    background-image:url(./Resources/lushscenery.jpg);
}

  .title {
    position: absolute;
    bottom: 50px;
    left: 50px;
    color:white;
  }

  footer{
    display:flex;
    justify-content:center;
    background-color:tomato;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    width:100vw;
}
